<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <%- include("./partials/settings.ejs") %>
    <div class="content">
        <% if (parts.length > 0) { %>
        <% parts.forEach(part => { %>
        <a class="single" href="/<%= role %>/<%= part.route %>" onclick="storeCurrentInstrument('<%= part.route %>')">
            <h3 class="title"><%= part.name %></h3>
            <!-- <p class="snippet"><%= part.route %></p> -->
        </a>
        <% }) %>
        <% } else { %>
        <p>No hay instrumentos para mostrar...</p>
        <% } %>
    </div>
    <script>
        const storeCurrentInstrument = (route) => localStorage.currentInstrument = route;
    </script>
    <%- include("./partials/footer.ejs") %>
</body>

</html>