<html>
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="content">
        <% if (data.length > 0) { %>
        <% data.forEach(part => { %>
        <a class="single" href="/composer/<%= part.route %>" onclick="storeCurrentInstrument('<%= part.route %>')">
            <h3 class="title"><%= part.name %></h3>
            <!-- <p class="snippet"><%= part.route %></p> -->
        </a>
        <% }) %>
        <% } else { %>
        <p>No hay instrumentos para mostrar...</p>
        <% } %>
    </div>
</body>
<script>
    const storeCurrentInstrument = (route) => localStorage.currentInstrument = route;
</script>

</html>