<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <%- include("./partials/settings.ejs") %>
    <div class="metronome">
        <div id="circle" class="bpm">
            <%= bpm %>
        </div>
    </div>
    <div class="hl"></div>
    <div class="grid">
        <object class="hidden" data-queue="" data-id="" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="Error loading svg">
        </object>
        <object class="hidden" data-queue="" data-id="" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="Error loading svg">
        </object>
        <object class="hidden" data-queue="" data-id="" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="Error loading svg">
        </object>
        <object class="hidden" data-queue="" data-id="" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="Error loading svg">
        </object>
    </div>

    <script>
        let staves = '<%- staves%>';
        staves = JSON.parse(staves);
        let route = '<%- route%>';
        let setupBpm = '<%- bpm%>';
        //console.log('script data: ', data)
        //console.log('script route: ', route)
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/fullscreen.js"></script>
    <script src="../scripts/client.js"></script>

    <%- include("./partials/footer.ejs") %>
</body>

</html>